<?js
    var data = obj;
    var self = this;
?>

<?js if (data.augments && data.augments.length) { ?>
    <ul>
        <?js data.augments.forEach(function(a) { ?>
            <li>
                <?js if (a.startsWith(data.memberof)) { ?>
                    <?js= self.linkto(a, self.shorten(a)) ?>
                <?js } else { ?>
                    <?js= self.linkto(a, a.replace(/^module:/, '')) ?>
                <?js } ?>
            </li>
        <?js }) ?>
    </ul>
<?js } ?>
