@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


* {
  box-sizing: border-box
}

html {
  font-size: 15px;
  font-family: "Noto Sans", sans-serif;
  color: #4d4e53;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

article a:hover, article a:active {
  border-bottom-color: #222;
}

article .description a {
  word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 1em 0 .5em;
}

h1.page-title {
  margin: 1em 30px;
  line-height: 100%;
  word-wrap: break-word;
}

h2 {
  font-size: 1.5em;
  margin: 1.5em 0 .3em;
}

h3 {
  font-size: 1.17em;
  margin: 1.2em 0 .3em;
}

h4 {
  font-size: 1em;
  margin: 1em 0 .2em;
  color: #4d4e53;
}

h5 {
  font-size: 0.83em;
}

h4.name {
  color: #fff;
  background: #424242;
  box-shadow: 0 .25em .5em #d3d3d3;
  margin: 1.5rem 0 0.5rem 0;
  padding: .75em 0 .75em 10px;
  border-radius: 0.2em;
}

h4.name.target {
    background-color: #004f86;
}

.subsection-title {
    margin-top: 0.2em;
    padding-top: 1em;
    padding-bottom: 0.22em;
    font-variant: all-small-caps;
}

.container-overview .subsection-title {
  font-size: 1.1em;
}

h6 {
  font-size: 0.92em;
  letter-spacing: -0.01em;
  margin: 6px 0 3px 0;
  font-style: italic;
}

.usertext h1 {
  font-size: 24px;
  margin: 2.5em 0 1em;
  font-weight: 400;
}

.usertext h2 {
  font-size: 18px;
  margin: 2em 0 0.5em;
  font-weight: 400;

}

.usertext h3 {
  font-size: 15px;
  margin: 1.5em 0 0;
  font-weight: 400;
}

.usertext h4 {
  font-size: 14px;
  margin: 0 0 0;
  font-weight: 400;
}

.usertext h5 {
  font-size: 12px;
  margin: 1em 0 0;
  font-weight: normal;
  color: #666;
}

.usertext h6 {
  font-size: 11px;
  margin: 1em 0 0;
  font-weight: normal;
  font-style: normal;
  color: #666;
}


tt, code, kbd, samp, pre {
  font-family: "Source Code Pro", monospace;
  background: #f4f4f4;
}

tt, code, kbd, samp{
  padding: 1px 5px;
}

pre {
  padding-bottom: 1em;
}  

.class-description {
  font-size: 130%;
  line-height: 140%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.class-description:empty {
  margin: 0
}

body > .page-contents {
  display: flex;
  height: 100%;
}

header {
  display: block
}

section {
  display: block;
  background-color: #fff;
  padding: 0 0 0 30px;
}

.variation {
  display: none
}

.signature-attributes {
  font-size: 60%;
  color: #eee;
  font-style: italic;
  font-weight: lighter;
  vertical-align: middle;
  margin-left: 0.2em;
}

nav {
  display: block;
  flex: 0 0 auto;
  background: #fff;
  overflow: auto;
  padding: 1rem;
}

nav #nav-search {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

nav.wrap a {
    word-wrap: break-word;
}

nav h3 {
  margin-top: 12px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 24px;
  margin: 15px 0 10px;
  padding: 0;
  color: #000;
}

nav h3.collapsed_header {
  cursor: pointer;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul a,
nav ul a:active {
  padding: 0.3em 0.5em;
  display: block;
  font-size: 0.92em;
}

nav a {
  transition: background 400ms, color 400ms, padding 400ms;
}

nav a:hover,
nav a:active {
  color: #000;
}

nav a.target,
nav a.target:active {
  background: #004f86;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

nav a.target:hover {
  color: white;
  text-decoration: none;
  cursor: initial;
}

nav > ul {
  padding: 0 10px;
}

nav > ul > li > a {
  color: #000;
  margin-top: 0.4em;
}

nav ul ul {
  border-left: 1px solid hsl(207, 10%, 86%);
}

nav ul ul a {
  color: hsl(207, 1%, 60%);
}

nav ul ul a,
nav ul ul a:active {
  padding-left: 20px;
  color: #222;
}

nav ul ul a:hover {
  color: #000;
}

nav h2 {
   font-size: 13px;
   margin: 10px 0 0 0;
   padding: 0;
}

nav > h2 > a {
   margin: 10px 0 -10px;
   color: #000;
   font-size: 1.2em;
}

#main {
  overflow: auto;
  flex: 1 1 100%;
}

#main section {
  max-width: 70em;
  padding: 0 1rem 0 2rem;
}

#main ul {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    padding-inline-start: 1.8em;
}

footer {
  color: hsl(0, 0%, 28%);
  margin-left: 250px;
  display: block;
  padding: 15px;
  font-style: italic;
  font-size: 90%;
}

.ancestors {
  color: #999
}

.ancestors a {
   color: #999 !important;
}

.clear {
  clear: both
}

.important {
  font-weight: bold;
  color: #950B02;
}

.yes-def {
  text-indent: -1000px
}

.type-signature {
  color: #ff9f48;
  font-size: 0.86em;
}

.type-signature:last-child {
  color: #eee;
}

.name, .signature {
  font-family: "Source Code Pro", monospace;
}

.signature {
  color: #ffdc00;
}

.details {
  font-size: 1em;
  padding: 0 1em 1em;
  display: grid;
  grid-template-columns: 0fr 1fr;
}

.details > *:not(key):not(value) {
    grid-column: 1 / 3;
}

.details key,
.details value {
  display: block;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
}

.details key {
    margin-right: 0.8em;
    font-weight: 600;
    font-variant: all-small-caps;
}

.details value {
}

.details pre.prettyprint {
   margin: 0
}

.details .object-value {
   padding-top: 0
}

.description {
  margin-bottom: 1em;
  margin-top: 1em;
}

.code-caption {
  font-style: italic;
  font-size: 107%;
  margin: 0;
}

.prettyprint {
  font-size: 14px;
  overflow: auto;
}

.prettyprint.source {
  width: inherit;
  line-height: 18px;
  display: block;
  background-color: #0d152a;
  color: #aeaeae;
}

.prettyprint code {
  line-height: 18px;
  display: block;
  background-color: #0d152a;
  color: #4D4E53;
}

.prettyprint > code {
  padding: 15px;
}

.prettyprint .linenums code {
  padding: 0 15px
}

.prettyprint .linenums li:first-of-type code {
  padding-top: 15px
}

.prettyprint code span.line {
  display: inline-block
}

.prettyprint.linenums {
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prettyprint.linenums ol {
   padding-left: 0
}

.prettyprint.linenums li {
   border-left: 3px #34446B solid;
}

.prettyprint.linenums li.selected, .prettyprint.linenums li.selected * {
   background-color: #34446B;
}

.prettyprint.linenums li * {
   -webkit-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text;
   user-select: text;
}

.prettyprint.linenums li code:empty:after {
  content:"";
  display:inline-block;
  width:0px;
}

table {
  border-spacing: 0;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  width: 100%;
  font-size: 14px;
  margin: 1em 0;
}

td, th {
   margin: 0px;
   text-align: left;
   vertical-align: top;
   padding: 10px;
}

thead tr {
   background-color: #fff;
   font-weight: bold;
   border-bottom: 1px solid #ddd;
}

table.params,
table.props {
  font-size: 0.9em;
  margin: 0.5em 0;

  .description {
    width: 50%;
  }

  td.attributes {
    font-style: italic;
    font-size: 0.84em;
    font-weight: 350;
  }

  td.default {
    font-size: 0.9em;
    font-weight: 350;
  }
}

table.params th,
table.props th {
  padding: 0.5em;
  background-color: #fcfaf5;
  font-variant: all-small-caps;
}

table.params td,
table.props td {
  padding: 0.5em;
  border-top: 1px solid #eee;
  vertical-align: baseline;
}

table.params td > table.params,
table.params td > table.props,
table.props td > table.params,
table.props td > table.props {
  box-shadow: none;
  margin-top: 1em;
}

table.params td.type,
table.props td.type {
}

.params code {
  white-space: pre;
}

.params td, .params .name, .props .name, .name code {
  font-family: "Source Code Pro", monospace;
  color: #4D4E53;
}

.params td {
   border-top: 1px solid #eee
}

.params td.description > p:first-child, .props td.description > p:first-child {
   margin-top: 0;
   padding-top: 0;
}

.params td.description > p:last-child, .props td.description > p:last-child {
   margin-bottom: 0;
   padding-bottom: 0;
}

a,
a.active,
span.param-type,
.params td .param-type,
.param-type dd { /* maybe value now? */
  color: #458bfa;
}

span.param-type, .params td .param-type, .param-type dd {
  font-family: "Source Code Pro", monospace;
}

.param-type dt, .param-type dd {
  display: inline-block
}

.param-type {
  margin: 14px 0;
}

.disabled {
  color: #454545
}

.tag-source {
  font-size: 0.82em;
  color: #999
}

.tag-source a {
  color: #999;
}

.tag-source a:hover {
  color: #777;
}

.section-wrap {
    margin-bottom: 1em;
    border-left: 2px solid #e1e1e1;
    padding-left: 1.5rem;
}

.section-wrap .name[id] {
    margin-left: -1rem;
}

nav .methods {
    [data-type="method"] {
        &.inherited:not(.overrides) {
            font-weight: 300;
        }
    }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  z-index: 1;
}

/* nav level */
.level-hide {
    display: none;
}
html[data-search-mode] .level-hide {
    display: block;
}


@media only screen and (max-width: 680px) {
}

/** Add a '#' to static members */
[data-type="member"] a::before {
  content: '#';
  display: inline-block;
  margin-left: -14px;
  margin-right: 5px;
}

#disqus_thread{
    margin-left: 30px;
}
